{% extends "site.html" %}
{% block title %}Academic publications about DataViva{% endblock %}
{% block content %}
	<div class="container">
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="01-index.html">Home</a></li>
			<li class="active"><span>Estudos<span></li>
		</ol>
		<!-- //END BREADCRUMB -->
		<div class="row">
			<!-- SIDEBAR -->
			<div class="sidebar col-xs-15 col-md-4">
				<a href="14-estudos-1-publique.html" class="btn btn-default btn-lg btn-dataviva blue">Publique um estudo</a>
				<h4>Temas</h4>
				<ul class="sub-menu">
					<li><a href="#" title="Todos"><strong>Todos</strong></a></li>
					{% for theme in themes %}
						<li><a href="#" title="Visualizações">Visualizações</a></li>
					{% endfor %}					
				</ul>
			</div>
			<!-- // SIDEBAR -->

			{% block center_content %}			
			<!-- CENTER CONTENT -->
			<div class="main-content col-xs-15 col-md-11">
				<div class="institucional search">
					<h2>Estudos sobre o DataViva</h2>
					<h3>Bem vindo a área de estudos do DataViva.</h3>
					<p>Aqui você encontra publicações acadêmicas e estudos que envolvem o DataViva</p>
					<div class="tit-stripe green">
						Publicações mais recentes
					</div>
					<form action="" class="form-dataviva form-inline filter">
						<div class="form-group">
							<i class="fa fa-search"></i>
							<input id="field-search" type="text" class="busca form-control" placeholder="Busque por título">
						</div>
						<div class="form-group">
							<strong class="pre-tit">Mostrar</strong>
							<div class="checkbox-inline">
								<label>
									<input type="checkbox" value="1">
									Vídeos
								</label>
							</div>
							<div class="checkbox-inline">
								<label>
									<input type="checkbox" value="2">
									Artigos
								</label>
							</div>
							<div class="checkbox-inline">
								<label>
									<input type="checkbox" value="3">
									Imagens
								</label>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default btn-dataviva">Buscar</button>
						</div>
					</form>
					<div class="articles">

						{% for article in articles %}
							<div class="item">
								<h4>
								<a href="14-estudos-1-artigo.html" title="O uso do DataViva para políticas ambientais em Mariana">O uso do DataViva para políticas ambientais em Mariana</a>
								</h4>
								<p>Autor: Jose Eustaquio Barbosa<br>Data: 24 Nov 2015</p>
							</div>
						{% endfor %}
												
						<nav>
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">«</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">»</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- // CENTER CONTENT -->
			{% endblock center_content %}
		</div>
	</div>
{% endblock %}